body,
html {
  height: 100%;
  text-align: center;
}

body {
  background: rgba(0, 0, 0, 0.2);
  line-height: 1.3;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.75em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.25em;
  letter-spacing: 5px;
}

h3 {
  font-size: 1.em;
  letter-spacing: 3px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

.tiny {
  font-size: 0.15em;
}

.button {
  position: relative;
  display: inline-block;
  border: 0;
  background: rgba(250, 250, 250, 0.85);
  color: rgb(83, 103, 98);
  text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  padding: 1em 3em 1em 3em;
  text-align: center;
  border-radius: 3em;
  font-weight: 600;
  font-size: 2em;
}

/* .scrolling-content {
  align-items: center;
  font-size: 36px;
} */

#top {
  background: rgba(0, 0, 0, 0.365);
  color: rgba(90, 143, 120, 0.666);
  margin: 0;
  padding: 10em 0 21em 0;
  text-shadow: 0 0 0.5px rgba(250, 250, 250, 0.65);
  /* height: 675px; */
}

#top h1 {
  color: rgb(250, 250, 250);
  font-weight: 800;
  font-size: 8em;
  letter-spacing: 9px;
}

#top p {
  border-top: solid 1px rgba(185, 244, 48, 0.694);
  color: rgb(250, 250, 250);
  text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.45);
  font-size: 4em;
  letter-spacing: 3px;
  margin: 0.4em 0.4em;
  padding: 0;
  text-transform: uppercase;
}

#top p::before {
  content: '';
  display: block;
  border-top: solid 1px rgba(255, 255, 255, 0.45);
  margin: 4px 0 0 0;
}

/* .btn-portfolio {
  position: absolute;
  top: 20em;
  left: 40%;
} */
/* About Me */
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.grid div {
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
}

#about-me-heading {
  background: rgba(0, 0, 0, 0.3);
  color: rgb(250, 250, 250);
  font-size: 3em;
  padding: 1em;
  letter-spacing: 5px;
}

.my-pic-image {
  border-radius: 50px;
  padding-top: 1.5em;
  width: 50%;
}

.grid div p {
  display: block;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 0 3em 0.5em 0;
  text-align: left;
}

/* 2nd, 3rd paragraph in about me */
.about-me-description2 {
  font-size: 0.2em;
}

#btn-resume {
  border: 0;
  background: rgba(213, 221, 218, 0.95);
  color: rgb(50, 113, 83);
  padding: 1em auto;
  position: relative;
  bottom: 0px;
  right: -270px;
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 0.15em;
}

#about-me a {
  border-bottom-color: rgba(255, 255, 255, 0.45);
  color: inherit;
}

#about-me a:hover {
  border-bottom-color: rgba(255, 255, 255, 0.7);
}



/* Project section and contact sections*/

.projects {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* projects, skills, and contact headings */
.headings {
  margin: 0.2em, auto;
  padding: 0.5em 3em;
}

.hidden-text {
  height: 100%;
  width: 100%;
  font-size: 1.5em;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(228, 228, 224, 0.988);
  padding: 3em;
}

#interpreter {
  background-image: url('../images/interpreter.png');
  background-size: 98% 98%;
}

#interpreter:hover .hidden-text {
  opacity: 1;
}

#inventory {
  background-image: url('../images/IMS.png');
  background-size: 98% 98%;
}

#inventory:hover .hidden-text {
  opacity: 1;
}

#ready {
  background-image: url('../images/ready.png');
  background-size: 98% 98%;
}

#ready:hover .hidden-text {
  opacity: 1;
}

#tic-tac-toe {
  background-image: url('../images/tictactoe.png');
  background-size: 98% 98%;
}

#tic-tac-toe:hover .hidden-text {
  opacity: 1;
}

#interpreter,
#inventory,
#ready,
#tic-tac-toe {
  height: auto;
  padding-top: 0.3%;
}

.box {
  background: rgba(0, 0, 0, 0.3);
  margin-top: 0.5em;
}

.skill-icons {
  background-color: rgba(109, 102, 102, 0.3);
}

#footer {
  margin: 0 0 0 0;
  position: relative;
  text-align: center;
  text-shadow: 0 0 0.7px rgba(250, 250, 250, 0.8)
}

#footer::after {
  content: '';
  /* border-left: solid 1.5px rgba(255, 255, 255, 0.7); */
  display: block;
  height: 4.5em;
  position: absolute;
  top: -4.5em;
  left: 50%;
}

#footer a {
  border-bottom-color: rgba(255, 255, 255, 0.45);
  color: rgba(255, 255, 255);
  text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.7);
}

#footer a:hover {
  border-bottom-color: rgba(53, 184, 143, 0.5);
  color: rgb(53, 184, 143);
  text-shadow: 0 0 0.5px rgba(70, 200, 160, 0.3)
}

/* skills */
i {
  font-size: 2.8em;
  align-items: center;
  padding: 0.6em 1em;
}

#skill-row2,
#skill-row3,
#skill-row4 {
  margin-top: 1.8em;
}

/* parallax */

.parallax {
  /* The image used */
  background-image: url('../images/portfolio-background.jpg');

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* add media queries */
/* iPhone 5/SE */
@media (max-width: 320px) {
  #top {
    padding: 0.5em 0 2em 0;
  }

  #top h1 {
    font-size: 3.5em;
    letter-spacing: 2px;
  }

  #top p {
    font-size: 1.7em;
    letter-spacing: 3px;
  }

  .grid div {
    padding: 1em;
  }

  #about-me-heading {
    font-size: 0.6em;
    letter-spacing: 1px;
  }

  #about-me p {
    font-size: 0.33em;
    letter-spacing: 1px;
    padding: 0;
  }

  #btn-resume {
    font-size: 0.5em;
    position: inherit;
  }

  .about-me-description {
    font-size: 0.25em;
    letter-spacing: 0.2em;
  }

  .headings {
    margin: 0.05em, auto;
    padding: 0.1em 1em;
  }

  /* skills */
  i {
    font-size: 1.5em;
    padding-right: 10px;
    padding-left: 10px;
  }

  #skill-row2,
  #skill-row3,
  #skill-row4 {
    margin-top: 2em;
  }

  #interpreter,
  #inventory,
  #ready,
  #tic-tac-toe {
    height: 150px;
  }
}
